* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

.periodic-table {
  border-collapse: collapse;
  width: 100%;
}

.periodic-table th {
  padding: 10px;
  text-align: center;
  font-size: 14px;
}

.periodic-table td {
  padding: 5px 2px 8px 2px;
  text-align: center;
  font-size: 14px;
  border-radius: 10px;
  border: 2px solid white;
}

.periodic-table th {
  background-color: #f0f0f0;
}

.side-table {
  border-collapse: collapse;
  width: 70%;
  margin: 20px 10px 0 260px;
}

.side-table td {
  padding: 8px;
  text-align: center;
  font-size: 14px;
  border: 3px solid white;
  border-radius: 10px;
}

.blue {
  background-color: rgb(38, 38, 190);
  color: white;
}

.purple {
  background-color: rgb(187, 88, 196);
  color: white;
}

.pink {
  background-color: rgb(223, 76, 181);
  color: white;
}

.orange {
  background-color: rgb(228, 126, 53);
  color: white;
}

.red {
  background-color: rgb(232, 35, 35);
  color: white;
}

.dark-red {
  background-color: rgb(130, 27, 27);
  color: white;
}

.green {
  background-color: rgb(41, 202, 78);
  color: white;
}

.light-blue {
  background-color: rgb(85, 222, 217);
  color: white;
}

.yellow {
  background-color: rgb(211, 202, 35);
  color: white;
}

.atomic-number {
  font-size: 11px;
  padding-left: 40px;
  padding-bottom: 5px;
}

.symbol {
  font-weight: bold;
  font-size: 17px;
}

.name {
  font-size: 10px;
  letter-spacing: 0.3px;
}

.two-atomic-numbers {
  text-align: center;
  padding: 0;
  font-size: 11px;
}

.two-symbol {
  text-align: center;
  font-weight: bold;
  font-size: 14px;
}

@media screen and (max-width: 1200px) {
  .side-table {
    margin: 20px 0 0 35px;
  }
}

@media screen and (width > 1200px) and (width < 1350px) {
  .side-table {
    margin: 20px 0 0 80px;
  }
}